# API_PORT
# API_HOST
# NODE_ENV
# REACT_APP_API_URL
# DATABASE_NAME
# DATABASE_PASSWORD
# DATABASE_USER
# DATABASE_BLOCKCHAIN_SCHEMA
# CLIENT_HOST
# MAILGUN_API_TOKEN
# MAILGUN_API_DOMAIN
# ADMIN_PUB
# ADMIN_PRIV
# SENTRY_DSN

DEV=true
CHAIN_ID=
NODE_URL=
ADMIN_PUB=03E868D007F8C9529978AEE29E989AFF963C12451E393A349C65B5516AA15C605D
ADMIN_PRIV=