*~

.env
.DS_STORE
.idea/*
.project
.vscode/*
.secret
.pmc
.chromia

db.log

node_modules/

logs/
postchain/runtime

**.pid

dist/
rell/target
rell/out

yarn.log
coverage

# chr build directories
build/

# Rell dependencies
rell/dep
rell/src/lib/iccf