*~

.env
.DS_STORE
.idea/*
.project
.vscode/*
.secret
.pmc
.chromia

db.log

node_modules/
package-lock.json

logs/
postchain/runtime

**.pid

dist/
rell/target
rell/out
rell/src/lib/*
!rell/src/lib/ft4/

yarn.log
coverage

# chr build directories
build/
