*~

.env
.DS_STORE
.idea/*
.project


node_modules/
package-lock.json

logs/
postchain/runtime

**.pid

client/
postchain/
rell/
test/
app/

/.env.sample
/db.log
/jest.config.js
/jest.setup.js
/tsconfig.json
/index.js

bitbucket-pipelines.yml