# System files and directories
*~
.DS_STORE
.idea/*
.project

# Dependency directories
node_modules/
package-lock.json

# Log files
*.log
logs/
**.pid
/db.log

# Configuration files
.env
/.husky
/.env.sample
/.eslintignore
/.eslintrc.json
/.prettierignore
/.prettierrc.json
/tsconfig.dist.json
/tsconfig.json
/jest.config.js
/jest.config.multichain.js
/jest.setup.js
/rollup.config.mjs

# Build and pipeline files
/bitbucket-pipelines.yml

# Source and test directories
client/
postchain/
rell/
test/
test_admin/
app/

# Miscellaneous files and directories
postchain/runtime
/configs
/examples
/rell-changelog.md
/scripts
/doc
/compile-changelog.sh
/install-chr-and-pmc.sh

# Cypress related files and directories
/cypress
cypress.config.ts

/coverage