blockchains:
  ft4_multichain_test_any:
    module: no_module
    config:
      features:
        merkle_hash_version: 2

deployments:
  local:
    url: http://localhost:7740
    brid: x"{manager_brid}"
    chains:
