blockchains:
  ft4_multichain_test_{chain_number}:
    module: {module_name} #will be updated to hold the correct module name
    moduleArgs:
      lib.ft4.accounts:
        rate_limit:
          max_points: 10
          recovery_time: 5000
          points_at_account_creation: 2

      lib.ft4.admin:
        admin_pubkey: x"02C4049F9550DCFF6003347BB3944DF2AA2D6EF5202C22834284B085C56DE8C6DD"
    config:
      gtx:
        modules:
          - "net.postchain.d1.iccf.IccfGTXModule"


libs:
  iccf:
    registry: https://gitlab.com/chromaway/core/directory-chain
    path: src/iccf
    tagOrBranch: 1.9.1
    rid: x"593D6EBA650BAC473E105C047B2C43A099164870304B3E5E324F714FF2F3F82F"

compile:
  source: ./multichain
  target: ../out
  rellVersion: 0.13.5
