      lib.ft4.core.accounts.strategies.transfer:
        rules:
          - timeout_days: 10
            asset:
              - name: fee_strategy_test_asset_00
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 1000000L
              - name: fee_strategy_missing_test_asset_00
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 1000L
              - name: subscription_strategy_test_asset_00
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 1000000L
              - name: subscription_strategy_missing_test_asset_00
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 1000L
              - name: crosschain-transfer-original-sender-test-asset
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 10L
            strategy:
              - fee
              - subscription
            sender_blockchain: {chain00_rid}
            sender: "X"
            recipient: "X"
          - timeout_days: 0
            asset:
              - name: fee_strategy_timeout_test_asset_00
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 1000000L
              - name: crosschain-transfer-original-sender-test-asset
                issuing_blockchain_rid: {chain00_rid}
                min_amount: 10L
            strategy:
              - fee
            sender_blockchain: {chain00_rid}
            sender: "X"
            recipient: "X"
      lib.ft4.core.accounts.strategies.transfer.fee: 
          asset:
            - name: fee_strategy_test_asset_00
              issuing_blockchain_rid: {chain00_rid}
              amount: 1000000L
            - name: fee_strategy_missing_test_asset_00
              issuing_blockchain_rid: {chain00_rid}
              amount: 1000L
            - name: fee_strategy_timeout_test_asset_00
              issuing_blockchain_rid: {chain00_rid}
              amount: 1000000L
      lib.ft4.core.accounts.strategies.transfer.subscription:
          asset:
            - name: subscription_strategy_test_asset_00
              issuing_blockchain_rid: {chain00_rid}
              amount: 1000000L
            - name: subscription_strategy_missing_test_asset_00
              issuing_blockchain_rid: {chain00_rid}
              amount: 1000L
          subscription_period_days: 30
          free_operations: []
